{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a New Listing</h1>
    <div class="container">
        <form method="post" action="{% url 'create_listing' %}" class="mt-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group col-md-6">
                    <label for="{{ field.id_for_label }}" class="font-weight-bold">{{ field.label_tag }} </label>
                    {{ field }}
                    <br>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Create Listing</button>
        </form>
    </div>

{% endblock %}